[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - erikdubois/Ultimate-Linux-Mint-18-Xfce: XFCE - automated script installation of software
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/erikdubois/Ultimate-Linux-Mint-18-Xfce
